@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.prompt>span {
  background-color: #fff
}

.completion>span {
  background-color: #eee
}

.input {
  margin-bottom: env(safe-area-inset-bottom);
  padding: 10px 0
}

.content {
  color: #343541;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content ul {
  flex: 1;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.content .msg li {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 24px 0
}

.content .msg li:nth-child(2n) {
  background-color: #f7f7f8
}

.content .msg li:nth-child(odd) {
  background-color: #fff
}

.content .msg li .inner {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  width: 750px;
  word-break: break-all;
}

.content .msg li .msgdetail {
  line-height: 28px
}

.input {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.input .inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  width: 750px
}

.fade-in {
  animation: fade-in .5s infinite both
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 300px
  }
}
