.rss-content {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  max-width: 1320px;

  .selected {
    background-color: #87e8de;
  }

  .none {
    display: none;
  }

  .float-right {
    float: right;
  }

  >* {
    margin: 0;
    max-height: calc(100vh - 52px);
  }

  >nav {
    flex-basis: 210px;
    overflow-y: auto;

    .icon {
      max-height: 16px;
    }

    >h4 {
      cursor: pointer;
      min-height: 45px;
      background-color: #e6fffb;
      padding: 5px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

      >a {
        color: rgba(0, 0, 0, 0.85)
      }
    }

    >h4:hover {
      box-shadow: 0 1em 1em 0 rgba(0, 0, 0, .19);
      transform: translate3d(0, -2px, 0);
      transition: all .3s cubic-bezier(.55, 0, .1, 1);
    }
  }

  >aside {
    >p {
      cursor: pointer;
      background-color: #e6fffb;
      padding: 5px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    >p:hover {
      box-shadow: 0 1em 1em 0 rgba(0, 0, 0, .19);
      transform: translate3d(0, -2px, 0);
      transition: all .3s cubic-bezier(.55, 0, .1, 1);
    }

    flex-basis: 300px;
    overflow-y: auto;
  }

  >main {
    flex-grow: 1.5;
    flex-basis: 500px;
    overflow-y: auto;
    word-break: break-word;

    h2 {
      text-align: center;
    }

    img {
      max-width: 100%;
    }

    #content {
      width: 100%;
      max-height: calc(100vh - 94px);
      height: 100%;
      overflow: auto;
      padding: 10px;

      iframe {
        width: 100%;
      }
    }
  }
}

#page {


  >iframe {
    width: 100%;
    height: 100vh;
  }

  .anticon-rollback {
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
}

.page-show {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.page-hide {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  overflow: hidden;
}

.rss-search {
  /* position: relative;
	top: -10px; */
  padding: 10px;
  max-width: 1320px;

  >* {
    margin-left: 14px;
  }
}
